/* start the cosmetics project styles - this style not crashed layout */

/* sprete */
#container li {
    background: url('img/sprite.png') no-repeat top left;
}

/* transitions */
*{
	transition: color .5s ease;
}

.date-slider a,
.date-slider a span{
	transition: none;
}

