/* 
	start the project modules like a pages 
*/

/*=================
 main layout 
=================*/
html,
body{
	min-height: 100%;
}

.main-wrapper{
	width: 100%;
	padding-right: 73px;
}

.container{
	width: 100%;
	@extend .inbox;
}
.hidden{
	overflow: hidden;
}

/*=================
 base figure
=================*/
a.rounded{
	@extend .inline;
	@extend .inbox;
	font-size: 15px;
	line-height: 15px;
	color: #676767;
	padding: 3px 8px 7px;
	border-radius: 2px;
	border: 2px solid #676767;
	text-decoration: none;
	font-weight: 600;
	
	&:hover{
		color: #000;
		border: 2px solid #000;
	};
}


/*================= 
 header 
=================*/
header{
	padding: 15px;
	background: #fff;

	nav{
		margin-top: 30px;
		
		a{
			font-size: 20px;
			line-height: 24px;
			color: #666;
			margin-right: 20px;
			text-decoration: none;

			&:hover{color: #000}
		}

		.active{color: #000; display: inline;}
	}

	.active{display: block}

}
.logo{
	width: 299px;
	height: 68px;
	margin-right: 30px;

	.logo-small{ 
		display: none;
		width: 201px;
		height: 48px;
	}
}
.search-form{
	font-size: 0;
	position: relative;
	margin-top: 20px;

	form{
		display: inline-block;
	}
	
	input[type='text']{
		width: 160px;
		background: #f0f0f0 url('img/sprite.png') no-repeat;
		background-position: 10px -225px;
		padding-left: 30px;
	}

}

.bileter{
	display: inline-block;
	vertical-align: top;
	background: url('img/ico--ticket.png') no-repeat center;
	width: 19px;
	height: 33px;
	margin-right: 20px;

	&:hover{
		background: url('img/ico--ticket-2.png') no-repeat center;
	}
}

.open-menu{
	display: none;
	width: 34px;
	height: 34px;
	background: url(img/open-menu.png) no-repeat center;
	float: left;
}

/*=================
 calendar - aside
=================*/
.calendar{
	position: fixed;
	right: -297px;
	top: 0;
	overflow: hidden;
	height: 100%;
	background: #222;
	transition: all .3s ease;
	z-index: 1100;

	.container{
		width: 370px;
		height: 100%;
	}

	.header{
		height: 98px;
		background: #ff3366 url(img/ico-calendar.png) no-repeat 26px 62%;
		cursor: pointer;

		.current-date{
			font-size: 22px;
			line-height: 26px;
			color: #fff;
			padding: 40px 0 0 95px;
		}
	}

	.controls{
		padding-top: 10px;
		width: 73px;

		a{
			display: block;
			width: 100%;
			text-decoration: none;
			color: #fff;
			text-align: center;
			font-size: 13px;
			line-height: 24px;

			span{
				display: block;
				font-size: 22px;
				line-height: 26px;	
			}
		}

		.control{
			height: 28px;
			margin: 20px 0;

			&:hover{
				opacity: .8;
			}
		}

		.control.disabled{
			opacity: .5;
			cursor: default;

			&:hover{
				opacity: .5;
			}
		}

		.prev{
			background: url(img/ico-up.png) no-repeat center;
		}

		.next{
			background: url(img/ico-down.png) no-repeat center;
		}

		.date-container{
			height: 420px;
			overflow: hidden;
			position: relative;

			.date-slider{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				transition: all .3s ease;

				.current-day{
					background: url(img/ico-active-day.png) no-repeat center;

					&:hover{
						background: #fff;
					}
				}
			}

			a{
				padding: 5px 0;

				&:hover{
					background: #fff;
					color: #000;
				}

				&.active{
					background: #fff;
					color: #000;
				}
			}
		}

	}

	.content{
		width: 297px;
		height: 100%;
		background: #fff;

		img{width: 100%}

		.content-text{
			padding: 20px;
			
			h2{
				font-size: 36px;
				line-height: 44px;
				color: #ff3366;
			}	

			p{
				font-size: 18px;
				color: #000;
				line-height: 24px;
				margin: 10px 0 20px;
			}

			.time{
				width: 80px;
				font-size: 13px;
				line-height: 16px;
			}

			.rounded{
				text-transform: uppercase;
				color: #686868;
				border: 2px solid #686868;
				font-size: 20px;
				padding: 10px 10px 17px;
				margin-top: 12px;

				&:hover{
					color: #000;
					border: 2px solid #000;
				}
			}
		}
	}
}

.calendar.active{
	right: 0;
}

.over.active{
	display: block;
}

.over{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}


/*=================
 main page
=================*/

/* tizer */
.tizer{

	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100%;
	z-index: 2000;
	text-align: center;
	padding-top: 80px;
	box-sizing: border-box;

	.close-tizer{
		width: 30px;
		height: 30px;
		background: url(img/icon-close.png) no-repeat center;
		position: absolute;
		top: 20px;
		right: 20px;

		&:hover{
			opacity: .8;
		}
	}

	p{
		font-size: 30px;
		line-height: 36px;
		color: #fff;
		width: 590px;
		text-align: center;
		display: block;
		margin: 0 auto 40px;
	}

	.with-image{
		padding-left: 120px;
		text-align: left;
		box-sizing: border-box;
		background: url(img/tizer-head.png) no-repeat left top;
	}


	img{
		display: block;
		border-radius: 50%;
		margin: 0 auto 40px;
	}

	.socio{
		
		font-size: 16px;
		line-height: 30px;

		a{
			margin-left: 10px;
			margin-top: 5px;

			img{
				width: 30px;
				height: 30px;
				border-radius: 0;
			}
		}

	}

	.rounded{
		margin: 0 auto;
		font-size: 24px;
		padding: 10px 20px 20px;
		color: #fff;
		border: 2px solid #fff;

		&:hover{
			color: #fff;
			border: 2px solid #fff;
			opacity: .8;
		}
	}
}

/* big-image-section */
.big-image-section{
	max-height: 600px;
	overflow: hidden;
	position: relative;
	background: url(img/header-image.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;


	.content{
		padding: 60px 0 60px 70px;
		width: 420px;

		p{
			color: #fff;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 20px;

			span{
				text-transform: uppercase;
				font-size: 30px;
				line-height: 36px;
			}

			.big{
				font-size: 55px;
				line-height: 66px;
			}
		}

		.long{min-height: 180px}

		.rounded{
			font-size: 22px;
			line-height: 22px;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 0;
			padding: 4px 17px 16px;

			&:hover{
				color: #777;
				border: 2px solid #777;
			}
		}
	}

	.big{width: 660px}

}

.second{
	background: url(img/header-image-2.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}


/* afisha-news */
.afisha-news{
	width: 100%;
	padding: 20px;

	h2{
		width: 100%;
		background: #f0f0f0;
		margin-bottom: 20px;
		color: #000;
		font-size: 22px;
		line-height: 29px;
		padding: 19px 26px 24px;

		.rounded{
			position: relative;
			top: 3px;
		}
	}
}

.col-1{width: 70%}

.col-2{width: 30%}

.afisha{

	.item{
		width: 50%;
		margin-bottom: 20px;
		text-decoration: none;
		
		&.to-left{padding-right: 10px}

		&.to-right{padding-left: 10px}

		img{width: 100%}
		
		.content{
			padding: 5px 30px 10px;
			@extend .inbox;
		}

		h3{
			font-size: 36px;
			line-height: 44px;
			color: #ff3366;
			margin: 15px 0;
		}

		p{
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 25px;
			color: #000;
		}

		&:hover{

			.content{
				background: #f0f0f0;
				
				h3{color: #000}
			}
		}
	}
}

.news{
	padding-left: 10px;

	.item{
		width: 100%;
		background: #f0f0f0;
		border-bottom: 1px solid #dddddd;
		padding: 0 20px 20px 0;
		text-decoration: none;

		img{
			float: left;
			margin: 0 20px 20px 0;
			width: 100px;
		}

		p{
			padding-left: 130px;
			font-size: 18px;
			line-height: 24px;
			color: #666;
			margin-top: 10px;

			span{font-style: italic}
		}

		&:hover{
			p{color: #000}
		}
	}
}

/* photography */
.photography{
	margin-top: 30px;

	.content{
		@extend .inbox;
		padding: 20px;
		background: #f0f0f0;

		.rounded{margin-bottom: 15px}

		h2{
			font-size: 30px;
			line-height: 36px;
			color: #ff3366;
			padding: 0;
		}

		p{
			font-size: 18px;
			line-height: 24px;
		}
	}

	img{width: 100%}
}

/* spektacl actors festivals partners news fat bloks*/
.fast-blocks{
	
	.col-1{padding: 20px 10px 20px 20px}

	.col-2{padding: 20px 20px 20px 10px}
}


.event{

	.content{
		@extend .inbox;
		padding: 25px;
		background: #f0f0f0;

		.rounded{
			font-size: 22px;
			line-height: 22px;
			text-transform: uppercase;
			font-weight: 300;
			padding: 8px 20px 15px;
			border-radius: 0;
			margin-top: 10px;
		}

		.dates{
			width: 180px;

			p{
				font-size: 22px;
				line-height: 36px;
			}
		}
		
		.text{

			padding-left: 181px;
			padding-right: 181px;

			h3{
				font-size: 30px;
				color: #ff3366;
				line-height: 36px;
				margin-bottom: 10px;
			}

			p{
				font-size: 18px;
				line-height: 24px;
				color: #000;	
			}
		}

	}

	img{width: 100%}
}

.festival{
	margin-top: 20px;

	img{width: 100%}

	.content{
		@extend .inbox;
		padding: 25px;
		background: #f0f0f0;

		.rounded{margin-bottom: 15px}

		h3{
			font-size: 22px;
			color: #ff3366;
			line-height: 26px;
		}

	}

}

.subscribe{
	margin-top: 20px;
	@extend .inbox;
	padding: 25px;
	background: #f0f0f0;

	h3{
		font-size: 22px;
		line-height: 26px;
		color: #000;
		margin-bottom: 35px;
	}

	input[type='text']{
		height: 50px;
		width: 100%;
		padding: 0 20px;
		background: #fff;
		border: 1px solid #bbb;
		border-radius: 0;
		color: #666;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 20px;

		&:focus{
			border: 1px solid #333;
			color: #333;
		}
	}

	button{
		background: transparent;
		border: 2px solid #6c6c6c;
		font-size: 22px;
		line-height: 22px;
		color: #666;
		text-transform: uppercase;
		padding: 4px 12px 12px;

		&:hover{
			border: 2px solid #333;
			color: #333;
		}
	}
}

.partners{
	margin-top: 20px;
	background: #f0f0f0;

	h2{
		font-size: 22px;
		line-height: 26px;
		color: #000;
		padding: 10px 30px 20px;
		margin-bottom: 15px;
		border-bottom: 1px solid #ddd;
	}

	.partners-container{
		padding: 0 30px 30px;
		font-size: 0;

		a{
			width: 25%;
			margin-top: 20px;
			vertical-align: middle;
			text-align: center;
		}
	}
}

.people{
	background: #f0f0f0;

	.rounded{
		margin: 25px 0 0 25px;
		border: 2px solid #fe3c6c;
	}

	
	.slider{
		width: 50%;

		.bx-controls-direction{
			position: absolute;
			bottom: 0;
			left: -100%;
			z-index: 999;
			width: 100%;
		}

	}
}

.people-slider{
	
	li{

		img{width: 100%}

		p{
			position: absolute;
			top: 70px;
			left: -90%;
			width: 130px;
			font-size: 22px;
			line-height: 24px;
			color: #ff3366;
		}
	}
}

/*====================
 events page
====================*/

.events-page{

	.col-1{
		width: 100%;
		font-size: 0;
	}

	.item{
		width: 33.3333%;
		float: none;
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.events-sort{
	padding: 15px 50px;
	background: #f0f0f0;

	p{
		font-size: 18px;
		line-height: 32px;
		color: #000;
	}

	a{
		width: 40px;
		height: 40px;
		margin-left: 15px;

		&:hover{
			opacity: .8;
		}

		&:nth-child(2){
			background: url(img/ico-sort-1.png) no-repeat center;
		}
		&:nth-child(3){
			background: url(img/ico-sort-2.png) no-repeat center;
		}
		&:nth-child(4){
			background: url(img/ico-sort-3.png) no-repeat center;
		}
		&:nth-child(5){
			background: url(img/ico-sort-4.png) no-repeat center;
		}
	}
}


/*====================
 afisha page
====================*/
.afisha-page{
	font-size: 0;

	.afisha-item{
		width: 25%;
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
	}

	.col-1{
		width: 100%;
	}
}

.afisha-item{

	img{width: 100%}

	.image{
		position: relative;

		p{
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			font-size: 24px;
			line-height: 28px;
			background: #f0f0f0;
			padding: 10px 20px 20px;
		}
	}

	.content-text{
		padding: 20px;
		
		h2{
			font-size: 36px;
			line-height: 44px;
			color: #ff3366;
			padding: 0;
			background: #fff;
		}	

		p{
			font-size: 18px;
			color: #000;
			line-height: 24px;
			margin: 10px 0 20px;
		}

		.time{
			width: 80px;
			font-size: 13px;
			line-height: 16px;
		}

		.rounded{
			text-transform: uppercase;
			color: #686868;
			border: 2px solid #686868;
			font-size: 15px;
			padding: 5px 7px 9px;
			margin-top: 12px;

			&:hover{
				color: #000;
				border: 2px solid #000;
			}
		}
	}
}

.afisha-top{
	background: #f0f0f0;

	a, p{
		vertical-align: middle;
	}

	.calendar-big{
		width: 70px;
		height: 70px;
		background: #ff3366 url(img/ico-calendar-big.png) no-repeat center;
		margin-right: 30px;
	}

	.control{
		width: 30px;
		height: 30px;

		&:hover{
			opacity: .8;
		}
	}

	.prev{
		background: url(img/ico-prev-month.png) no-repeat center;
	}
	.next{
		background: url(img/ico-next-month.png) no-repeat center;
	}

	p{
		padding-left: 30px;
		background: url(img/ico-calendar-2.png) no-repeat -5px -7px;
		font-size: 22px;
		line-height: 26px;
		padding-bottom: 7px;
		color: #666;
		margin: 0 20px;
	}
}

/*====================
 contact
====================*/

.map{
	width: 100%;
	height: 600px;
}

.contact-container{

	.col{
		width: 50%;
		padding: 25px;
	}

	h2{
		font-size: 34px;
		margin-bottom: 15px;
	}

	p{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}

	a{
		font-size: 18px;
		line-height: 24px;
		color: #000;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}

	form{
		width: 100%;
		max-width: 470px;

		input[type='text'],
		textarea{
			width: 100%;
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 25px;
		}

		input[type='text']{
			height: 60px;
		}

		textarea{
			height: 250px;
			resize: none;
		}

		.rounded{
			background: transparent;
			border: 2px solid #6d6d6d;
			color: #6d6d6d;
			border-radius: 0;
			font-size: 22px;
			line-height: 22px;
			padding: 5px 25px 15px;

			&:hover{
				border: 2px solid #000;
				color: #000;
			}
		}
	}
}

/*================= 
 news page 
=================*/

.news-top{

	padding: 15px 30px 25px;
	margin-bottom: 20px;	

	a{
		font-size: 22px;
		line-height: 22px;
		text-decoration: none;
		color: #666;
		margin-right: 25px;

		&:hover{
			color: #000;
		}
	}

	.active{
		color: #000;
	}
}

.news-clontainer.news{
	padding: 0 0 0;
}

.news-clontainer{
	font-size: 0;

	article{
		box-sizing: border-box;
		width: 25%;
		padding: 0 15px 20px;
		display: inline-block;
		vertical-align: top;
	}

	.item{
		border-bottom: 0;
		min-height: 160px;
	}

}

/*================= 
 single news page 
=================*/

.single-news-top{
	padding: 20px;
	font-size: 0;

	.text{
		position: relative;
		top: -5px;
		margin-right: 30px;
	}

	a{
		font-size: 22px;
		line-height: 22px;
		color: #666;
		text-decoration: none;

		&:hover{
			color: #000;
		}
	}

	.prev{
		margin-right: 10px;
	}
}

.single-news{
	padding: 20px 15px 60px;
	border-bottom: 1px solid #ccc;

	img{
		width: 235px;
	}

	.text{
		width: 100%;
		padding-left: 270px;

		h1{
			font-size: 34px;
			line-height: 40px;
			margin-bottom: 15px;
		}

		p{
			font-size: 18px;
			line-height: 24px;
			color: #000;
			margin-bottom: 30px;
		}

		.date{
			font-size: 16px;
			font-style: italic;
			margin-bottom: 15px;		
		}

		a{
			color: #666;
			text-decoration: underline;
			font-size: 18px;
			line-height: 24px;

			&:hover{
				color: #000;
			}
		}
	}
}

/*====================
 PERSONS PAGE
====================*/

.alfavit{
	margin-top: 18px;

	a{
		@extend .inline;
		color: #666;
		font-size: 22px;
		line-height: 22px;
		margin-right: 10px;
		text-decoration: none;

		&:hover{
			color: #000;
		}
	}
}

.person-container{
	padding: 0 3px;

	.item{
		text-decoration: none;
		width: 150px;
		min-height: 300px;
		margin-bottom: 25px;
		margin: 15px 12px 0;

		img{
			width: 150px;
			height: 220px;
		}

		p{
			font-size: 18px;
			color: #666;
			line-height: 24px;
			margin-top: 5px;
		}

		.small{
			font-size: 16px;
			color: #000;
			font-style: italic;
		}

		&:hover{
			opacity: .7;
		}
	
	}
}

/*====================
 ABOUT PAGE
====================*/

.about-top{
	padding: 0 15px;
	background: #f0f0f0;

	a{
		padding: 15px 0 25px;
		font-size: 22px;
		color: #666;
		margin-right: 15px;
		text-decoration: none;
		box-sizing: border-box;

		&:hover{
			color: #000;
			border-bottom: 4px solid #000;
		}
	}

	.active{
		color: #000;
		border-bottom: 4px solid #000;
	}
}

.content{
	
	.bx-viewport{
		overflow: hidden!important;
	}

	.bx-pager{
		bottom: 50px;
		text-align: left;
		padding-left: 65px;

		a{
			width: 20px;
			height: 20px;
			background: transparent!important;
			border: 2px solid #fff;
			border-radius: 50%!important;
			margin: 0 15px 0 0!important;
		}

		.active{
			background: #fff!important;
		}
	}

	.content-slider{

		li{
			height: 600px;

			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			p{
				position: absolute;
				top: 50px;
				left: 50px;
				font-size: 55px;
				line-height: 66px;
				color: #fff;
			}
		}
	}

	.text{
		width: 80%;
		box-sizing: border-box;
		padding: 30px 40px;

		P{
			font-size: 16px;
			line-height: 24px;
			color: #000;
			margin-bottom: 25px;
		}
	}

}

/*====================
 spectakl single
====================*/

.spectakl-date{
	padding: 5px 15px 15px;

	p{
		font-size: 24px;
		line-height: 28px;
		color: #000;	
	}
}
.spectakl-content{

	.col-1{
		width: 60%;
		padding: 15px;
	}

	.col-2{
		width: 40%;
		padding: 15px;
	}

	.block{
		margin-bottom: 20px;

		h2{
			font-size: 34px;
			line-height: 40px;
			color: #000;
			margin-bottom: 10px;
		}

		p{
			font-size: 16px;
			line-height: 24px;
			color: #000;
			margin-bottom: 30px;
		}

		.big{
			font-size: 18px;
		}

		strong{
			font-weight: 600;
		}
	}

	.photo{
		font-size: 0;
		
		a{
			width: 33%;
			padding: 5px;

			img{
				width: 100%;
			}
		}
	}

	.person-container{
		font-size: 0;

		p {
			font-size: 18px;
			color: #666;
			line-height: 24px;
			margin-top: 5px;
			margin-bottom: 10px;
		}

		.item{
			width: 25%;
			margin: 0;
			padding: 5px;

			img{
				width: 100%;
				height: auto;
			}
		}
	}

	.press{

		.scroll-container{
			width: 100%;
			height: 560px;

			a{
				display: block;
				font-size: 15px;
				line-height: 21px;
				color: #000;
				text-decoration: none;
				margin-bottom: 20px;

				span{
					color: #666;
				}

				&:hover{

					span{
						color: #000;
					}
				}
			}
		}

	}

	.scrollable.default-skin .scroll-bar.vertical {
		width: 10px;
		background: #f0f0f0;
		border-radius: 0!important;
	}

	.scrollable.default-skin .scroll-bar .thumb {
		background-color: #666;
		opacity: 1!important;
		border-radius: 0!important;
	}

	.scrollable .viewport{
		width: 100%!important;
	}

	.scrollable .viewport .overview {
		padding-right: 40px;
	}
}

.one-row{
	padding: 15px;
}

.bilet{
	height: 760px;
	border: 1px solid #eeeeee;
}

.comment{
	height: 450px;
	border: 1px solid #eeeeee;
}

.spec-page{
	padding: 5px;
}
/*====================
 footer
====================*/

footer{
	padding: 15px 20px 50px;
	box-sizing: border-box;

	.column{
		box-sizing: border-box;
		padding: 0 20px;

		&:nth-child(1),
		&:nth-child(2){
			width: 35%;
		}

		&:nth-child(3){
			width: 30%;
		}

		p{
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 5px;
		}

		a{
			color: #000;
			text-decoration: none;
			font-size: 16px;

			&:hover{
				text-decoration: underline;
			}
		}

		.to-map{
			color: #666;
			display: block;
			padding-left: 23px;
			line-height: 19px;
			margin-top: 10px;
			background: url(img/ico-point.png) no-repeat center left;
			
			&:hover{
				text-decoration: none;
				opacity: .7;
			}
		}

		.socio{
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;

			img{
				width: 30px;
				height: 30px;
			}

			&:hover{
				opacity: .7;
			}
		}
	}


	.to-top{
		display: none;
		width: 100%;
		height: 130px;
		background: url(img/ico-to-top.png) no-repeat center;
	}
}