/* 
	start the project modules like a pages 
*/

/*=================
 main layout 
=================*/
html,
body{
	min-height: 100%;
}

.main-wrapper{
	width: 100%;
	padding-right: 73px;
}

.container{
	width: 100%;
	@extend .inbox;
}

/*=================
 base figure
=================*/
a.rounded{
	@extend .inline;
	@extend .inbox;
	font-size: 15px;
	line-height: 15px;
	color: #676767;
	padding: 3px 8px 7px;
	border-radius: 2px;
	border: 2px solid #676767;
	text-decoration: none;
	font-weight: 600;
	
	&:hover{
		color: #000;
		border: 2px solid #000;
	};
}


/*================= 
 header 
=================*/
header{
	padding: 15px;
	background: #fff;

	nav{
		margin-top: 30px;
		
		a{
			font-size: 20px;
			line-height: 24px;
			color: #666;
			margin-right: 20px;
			text-decoration: none;

			&:hover{color: #000}
		}

		.active{color: #000}
	}

	.active{display: block}

}
.logo{
	width: 299px;
	height: 68px;
	margin-right: 30px;

	.logo-small{ 
		display: none;
		width: 201px;
		height: 48px;
	}
}
.search-form{
	position: relative;
	margin-top: 20px;
	
	input[type='text']{
		width: 160px;
		background: #f0f0f0 url('img/sprite.png') no-repeat;
		background-position: 10px -225px;
		padding-left: 30px;
	}

	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: -40px;
		background: url('img/sprite.png') no-repeat;
		background-position: 0 2px; 
		width: 19px; 
		height: 33px;
	}

}

.open-menu{
	display: none;
	width: 34px;
	height: 34px;
	background: url(img/open-menu.png) no-repeat center;
	float: left;
}

/*=================
 calendar - aside
=================*/

.calendar{
	position: fixed;
	right: -297px;
	top: 0;
	overflow: hidden;
	height: 100%;
	background: #222;
	transition: all .3s ease;
	z-index: 1100;

	.container{
		width: 370px;
		height: 100%;
	}

	.header{
		height: 98px;
		background: #ff3366 url(img/ico-calendar.png) no-repeat 26px 62%;
		cursor: pointer;

		.current-date{
			font-size: 22px;
			line-height: 26px;
			color: #fff;
			padding: 40px 0 0 95px;
		}
	}

	.controls{
		padding-top: 10px;
		width: 73px;

		a{
			display: block;
			width: 100%;
			text-decoration: none;
			color: #fff;
			text-align: center;
			font-size: 13px;
			line-height: 24px;

			span{
				display: block;
				font-size: 22px;
				line-height: 26px;	
			}
		}

		.control{
			height: 28px;
			margin: 20px 0;

			&:hover{
				opacity: .8;
			}
		}

		.control.disabled{
			opacity: .5;
			cursor: default;

			&:hover{
				opacity: .5;
			}
		}

		.prev{
			background: url(img/ico-up.png) no-repeat center;
		}

		.next{
			background: url(img/ico-down.png) no-repeat center;
		}

		.date-container{
			height: 420px;
			overflow: hidden;
			position: relative;

			.date-slider{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				transition: all .3s ease;
			}

			a{
				padding: 5px 0;

				&:hover{
					background: #fff;
					color: #000;
				}

				&.active{
					background: #fff;
					color: #000;
				}
			}
		}

	}

	.content{
		width: 297px;
		height: 100%;
		background: #fff;

		img{width: 100%}

		.content-text{
			padding: 20px;
			
			h2{
				font-size: 36px;
				line-height: 44px;
				color: #ff3366;
			}	

			p{
				font-size: 18px;
				color: #000;
				line-height: 24px;
				margin: 10px 0 20px;
			}

			.time{
				width: 80px;
				font-size: 13px;
				line-height: 16px;
			}

			.rounded{
				text-transform: uppercase;
				color: #686868;
				border: 2px solid #686868;
				font-size: 20px;
				padding: 10px 10px 17px;
				margin-top: 12px;

				&:hover{
					color: #000;
					border: 2px solid #000;
				}
			}
		}
	}
}

.calendar.active{
	right: 0;
}

.over.active{
	display: block;
}

.over{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}


/*=================
 main page
=================*/

/* big-image-section */
.big-image-section{
	max-height: 600px;
	overflow: hidden;
	position: relative;
	background: url(img/header-image.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;


	.content{
		padding: 60px 0 60px 70px;
		width: 420px;

		p{
			color: #fff;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 20px;

			span{
				text-transform: uppercase;
				font-size: 30px;
				line-height: 36px;
			}

			.big{
				font-size: 55px;
				line-height: 66px;
			}
		}

		.long{min-height: 180px}

		.rounded{
			font-size: 22px;
			line-height: 22px;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 0;
			padding: 4px 17px 16px;

			&:hover{
				color: #777;
				border: 2px solid #777;
			}
		}
	}

	.big{width: 660px}

}

.second{
	background: url(img/header-image-2.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}


/* afisha-news */
.afisha-news{
	width: 100%;
	padding: 20px;

	h2{
		width: 100%;
		background: #f0f0f0;
		margin-bottom: 20px;
		color: #000;
		font-size: 22px;
		line-height: 29px;
		padding: 19px 26px 24px;

		.rounded{
			position: relative;
			top: 3px;
		}
	}
}

.col-1{width: 70%}

.col-2{width: 30%}

.afisha{

	.item{
		width: 50%;
		margin-bottom: 20px;
		text-decoration: none;
		
		&.to-left{padding-right: 10px}

		&.to-right{padding-left: 10px}

		img{width: 100%}
		
		.content{
			padding: 5px 30px 10px;
			@extend .inbox;
		}

		h3{
			font-size: 36px;
			line-height: 44px;
			color: #ff3366;
			margin: 15px 0;
		}

		p{
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 25px;
			color: #000;
		}

		&:hover{

			.content{
				background: #f0f0f0;
				
				h3{color: #000}
			}
		}
	}
}

.news{
	padding-left: 10px;

	.item{
		width: 100%;
		background: #f0f0f0;
		border-bottom: 1px solid #dddddd;
		padding: 0 20px 20px 0;
		text-decoration: none;

		img{
			float: left;
			margin: 0 20px 20px 0;
			width: 100px;
		}

		p{
			padding-left: 130px;
			font-size: 18px;
			line-height: 24px;
			color: #666;
			margin-top: 10px;

			span{font-style: italic}
		}

		&:hover{
			p{color: #000}
		}
	}
}

/* photography */
.photography{
	margin-top: 30px;

	.content{
		@extend .inbox;
		padding: 20px;
		background: #f0f0f0;

		.rounded{margin-bottom: 15px}

		h2{
			font-size: 30px;
			line-height: 36px;
			color: #ff3366;
			padding: 0;
		}

		p{
			font-size: 18px;
			line-height: 24px;
		}
	}

	img{width: 100%}
}

/* spektacl actors festivals partners news fat bloks*/
.fast-blocks{
	
	.col-1{padding: 20px 10px 20px 20px}

	.col-2{padding: 20px 20px 20px 10px}
}


.event{

	.content{
		@extend .inbox;
		padding: 25px;
		background: #f0f0f0;

		.rounded{
			font-size: 22px;
			line-height: 22px;
			text-transform: uppercase;
			font-weight: 300;
			padding: 8px 20px 15px;
			border-radius: 0;
			margin-top: 10px;
		}

		.dates{
			width: 180px;

			p{
				font-size: 22px;
				line-height: 36px;
			}
		}
		
		.text{

			padding-left: 181px;
			padding-right: 181px;

			h3{
				font-size: 30px;
				color: #ff3366;
				line-height: 36px;
				margin-bottom: 10px;
			}

			p{
				font-size: 18px;
				line-height: 24px;
				color: #000;	
			}
		}

	}

	img{width: 100%}
}

.festival{
	margin-top: 20px;

	img{width: 100%}

	.content{
		@extend .inbox;
		padding: 25px;
		background: #f0f0f0;

		.rounded{margin-bottom: 15px}

		h3{
			font-size: 22px;
			color: #ff3366;
			line-height: 26px;
		}

	}

}

.subscribe{
	margin-top: 20px;
	@extend .inbox;
	padding: 25px;
	background: #f0f0f0;

	h3{
		font-size: 22px;
		line-height: 26px;
		color: #000;
		margin-bottom: 35px;
	}

	input[type='text']{
		height: 50px;
		width: 100%;
		padding: 0 20px;
		background: #fff;
		border: 1px solid #bbb;
		border-radius: 0;
		color: #666;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 20px;

		&:focus{
			border: 1px solid #333;
			color: #333;
		}
	}

	button{
		background: transparent;
		border: 2px solid #6c6c6c;
		font-size: 22px;
		line-height: 22px;
		color: #666;
		text-transform: uppercase;
		padding: 4px 12px 12px;

		&:hover{
			border: 2px solid #333;
			color: #333;
		}
	}
}

.people{
	background: #f0f0f0;

	.rounded{
		margin: 25px 0 0 25px;
		border: 2px solid #fe3c6c;
	}

	
	.slider{
		width: 50%;

		.bx-controls-direction{
			position: absolute;
			bottom: 0;
			left: -100%;
			z-index: 99999;
			width: 100%;
		}

	}
}

.people-slider{
	
	li{

		img{width: 100%}

		p{
			position: absolute;
			top: 70px;
			left: -90%;
			width: 130px;
			font-size: 22px;
			line-height: 24px;
			color: #ff3366;
		}
	}
}